<div class="contact">
<h1 class="contact-heading">Contact</h1>

<p class="contact-content">Hello! You can connect with me by email or give me a call at the given phone number.
 Alternatively, you can drop me a message on <a mat-button color="accent" [href]="'https://www.linkedin.com/in/hitesh-mandav/'" target="_blank">LinkedIn</a></p>

<div class="contact-cards">
    <div class="contact-card">
        <mat-card class="contact-card-1" >
            <div class="contact-card-info">
                <div class="contact-card-info-icon">
                    <fa-icon class="icon-style" [icon]="faEnvelope"></fa-icon>
                </div>
                <div class="contact-card-info-detail">
                    <mat-card-title>Email</mat-card-title>
                    <mat-card-subtitle>mandavhitesh@gmail.com</mat-card-subtitle>
                </div>
            </div>
            <div class="contact-card-info">
                <div class="contact-card-info-icon">
                    <fa-icon class="icon-style" [icon]="faPhone"></fa-icon>
                </div>
                <div class="contact-card-info-detail">
                    <mat-card-title>Phone</mat-card-title>
                    <mat-card-subtitle>(+91) 9730230312</mat-card-subtitle>
                </div>
            </div>
            <div class="contact-card-info">
                <div class="contact-card-info-icon">
                    <fa-icon class="icon-style" [icon]="faMapMarkerAlt"></fa-icon>
                </div>
                <div class="contact-card-info-detail">
                    <mat-card-title>Location</mat-card-title>
                    <mat-card-subtitle>India</mat-card-subtitle>
                </div>
            </div>

        </mat-card>
    </div>
    <!-- <div class="contact-card">
        <mat-card class="contact-form-card">
            <mat-card-title>Send a Message</mat-card-title>
            <form class="contact-form" [formGroup]="contactForm">

                <div class="contact-form-line1">
                    <mat-form-field class="contact-form-name" appearance="fill">
                        <mat-label>Your Name</mat-label>
                        <input matInput placeholder="Full Name" formControlName="name" required>
                    </mat-form-field>

                    <mat-form-field class="contact-form-email" appearance="fill">
                        <mat-label>Your email</mat-label>
                        <input matInput placeholder="pat@example.com" formControlName="email" required>
                    </mat-form-field>
                </div>
                <div class="contact-form-line2">
                    <mat-form-field class="contact-form-subject" appearance="fill">
                        <mat-label>Subject</mat-label>
                        <input matInput placeholder="Title" formControlName="subject" required>
                    </mat-form-field>
                </div>
                <div class="contact-form-line3">
                    <mat-form-field class="contact-form-message" appearance="fill">
                        <mat-label>Message</mat-label>
                        <textarea matInput placeholder="Message" formControlName="message" required></textarea>
                    </mat-form-field>
                </div>
            </form>
                <button (click)="onSubmit()"
                        type="submit"
                        [disabled]="!contactForm.valid"
                        mat-stroked-button
                        color="accent">
                        Send
                </button>
                <div class="contact-message-sending" *ngIf="sendingMessage">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            <div class="contact-message-sent" *ngIf="messageSentAlert">
                Message sent successfully!!!
            </div>
        </mat-card>
    </div> -->
</div>
</div>
