<div class="about-section">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <div class="about-text">
    <p>Accomplished web developer with 5 years of experience in building enterprise-level applications. With the ability to effectively take up projects individually and work with a team.</p>
    <p>Currently working as a Technology analyst with Infosys. I have gained expertise in Angular.</p>
    <p>
      My goal is to make a career in an environment that promotes and encourages excellence, adaptability, and growth.
      I'm looking for a constructive workplace where I can constantly enhance my learning and apply my knowledge, thereby transforming myself into an asset for both the team and the organization</p>

      <h1 class="tech-stack">Tech Stack</h1>

      <div class="logos">
        <fa-icon class="icon-style-tech" [icon]="faAngular"></fa-icon>
        <fa-icon class="icon-style-tech" [icon]="faNode"></fa-icon>
        <fa-icon class="icon-style-tech" [icon]="faJS"></fa-icon>
        <fa-icon class="icon-style-tech" [icon]="faHtml5"></fa-icon>
        <fa-icon class="icon-style-tech" [icon]="faCss"></fa-icon>
        <fa-icon class="icon-style-tech" [icon]="faPython"></fa-icon>
        <fa-icon class="icon-style-tech" [icon]="faGithub"></fa-icon>
        <fa-icon class="icon-style-tech" [icon]="faJava"></fa-icon>
        <p class="icon-style-tech text">GraphQL</p>
        <p class="icon-style-tech text">Bamboo</p>
        <p class="icon-style-tech text">Heroku</p>
      </div>

      <div class="resume">
        <a class="resume_download_link" href="../../../assets/cv.pdf" download="Hitesh_Mandav_CV.pdf">Download my resume</a>
      </div>
  </div>

</div>
