.container{
  // width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lost-message{
  font-size: 32px;
  margin: 10px;
  font-variant: small-caps;
}

.go-home{
  margin-top: 10vh;
}
