<div class="project">
  <h1 class="project-heading">Project</h1>

  <p class="project-content">Hello! You can connect with me by email or give me a call at the given phone number.
  Alternatively, you can drop me a message with your email id.
  I will get back to you as soon as possible.</p>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="openProject(card.link)">Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <picture>
              <source media='(min-width:0px)' [srcset]="card.src">
              <img class="profile-image" mat-card-image src="" alt="Photo of a Shiba Inu">
            </picture>
          </div>
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
