.grid-container {
  margin: 20px;
}

.project{
  margin: 5%;

  &-heading{
      padding-bottom: 10px;
      border-bottom: solid 2px #69f0ae;
      margin-bottom: 5%;
  }
  &-content{
      margin-bottom: 5%;
  }
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
