/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'David Libre', serif; }

::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #303030;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #69f0ae;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #303030;  /* creates padding around scroll thumb */
}
